In [1]:
import pandas as pd
import numpy as np

#### Importing predict CSV

In [2]:
diamonds_predict = pd.read_csv("data/predict.csv")

In [3]:
diamonds_predict.head()

   id  carat    cut color clarity  depth  table     x     y     z
0   0   2.36  Ideal     I     SI2   60.8   54.0  8.68  8.57  5.24
1   1   2.04  Ideal     H     SI2   62.0   56.0  8.18  8.23  5.09
2   2   0.51  Ideal     I     SI1   61.7   54.0  5.18  5.19  3.20
3   3   0.30  Ideal     I     SI1   61.3   56.0  4.32  4.33  2.65
4   4   0.96   Fair     H     VS2   68.8   56.0  6.11  5.98  4.16

In [4]:
diamonds_predict.describe()

,id,carat,depth,table,x,y,z
count,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000
mean,6742.000000,0.800309,61.757783,57.468053,5.736456,5.738452,3.542003
std,3892.928525,0.477423,1.437478,2.231002,1.123217,1.114912,0.694010
min,0.000000,0.200000,44.000000,51.000000,0.000000,0.000000,0.000000
25%,3371.000000,0.400000,61.000000,56.000000,4.720000,4.730000,2.920000
50%,6742.000000,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000
75%,10113.000000,1.040000,62.500000,59.000000,6.530000,6.530000,4.030000
max,13484.000000,5.010000,73.600000,79.000000,10.740000,10.540000,6.980000

From Kaggle we know that there are multiple characteristics that define the diamond price differently:

-